<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choconinos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choconinos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¡Bienvendo/a a choconinos!</strong>
    <p>Para ir a el catalogo, haz<a target="_blank" rel="noopener noreferrer" href="http://localhost:8100/catalogo"> click aqui</a></p>
  </div>
</ion-content>
